html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex-end-center{
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
}
.flex-start-center{
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
}
.flex-between-center{
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.flex-center-center{
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.flex{
  display: flex;
}